<form #f="ngForm" (ngSubmit)="submit()">
  <div class="ui-g">
    <div class="ui-g-offset-5 ui-g-2 card" style="margin-top: 10%;">
      <div class="ui-grid-row">
        <h2>Report</h2>
      </div>
      <div class="ui-grid-row ui-fluid">
        <p-radioButton label="Nicht zulässiger Name" id="unallowedName" ngModel value="unallowedName"
                       name="report"></p-radioButton>
      </div>
      <div class="ui-grid-row ui-fluid">
        <p-radioButton label="Kinderpornografie" id="childporn" ngModel value="childporn" name="report"></p-radioButton>
      </div>
      <div class="ui-grid-row ui-fluid">
        <p-radioButton label="Tierpornografie" id="animalporn" ngModel value="animalporn" name="report"></p-radioButton>
      </div>
      <div class="ui-grid-row ui-fluid">
        <p-radioButton label="Rechtsextremes Gedankengut" id="nazi" ngModel value="nazi" name="report"></p-radioButton>
      </div>
      <div class="ui-grid-row ui-fluid">
        <p-radioButton label="Andere" id="others" [(ngModel)]="others" value="{{others}}" name="report"></p-radioButton>
      </div>

      <div class="ui-grid-row ui-fluid">
        <input [attr.disabled]="othersbool ? '' : null" pInputTextarea [(ngModel)]="others" [ngModelOptions]="{standalone: true}"/>
      </div>
      <div class="ui-grid-row ui-fluid">
        <button pButton type="submit" label="Abschicken"></button>
      </div>
    </div>
  </div>
</form>
