<div class="ui-g-5"></div>
<div class="ui-g-2" style="text-align: right; margin-top: 10%;">
  <div>
    THERMS THERMS THERMS THERMS  THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS
    THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS THERMS
    THERMS THERMS THERMS THERMS THERMS THERMS
  </div>
  <div>
    <div class="ui-g-8">
      <label for="therms">Agree to Therms of Use</label>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-2" style="margin-bottom: 20px">
      <p-checkbox
        id="therms"
        type="checkbox"
        [(ngModel)]="agreedTherms"
        [ngModelOptions]="{standalone: true}"
      ></p-checkbox>
    </div>
  </div>

  <div *ngIf="currentFileUpload">
    <!--
    <p-fileUpload class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</p-fileUpload>
        -->
    {{status}}
  </div>


  <div style="margin-bottom: 20px">
    <label>
      <input type="file" (change)="selectFile($event)">
    </label>
  </div>

  <div>
    <div class="ui-g-3">
      <label for="sfw">sfw</label>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-7">
      <p-checkbox
        id="sfw"
        type="checkbox"
        (click)="categoriesArray('sfw')"
      ></p-checkbox>
    </div>
  </div>

  <div>
    <div class="ui-g-3">
      <label for="nsfw">nsfw</label>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-7">
      <p-checkbox
        id="nsfw"
        type="checkbox"
        (click)="categoriesArray('nsfw')"
      ></p-checkbox>
    </div>
  </div>

  <div>
    <div class="ui-g-3">
      <label for="nsfl">nsfl</label>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-7">
      <p-checkbox
        id="nsfl"
        type="checkbox"
        (change)="categoriesArray('nsfl')"
      ></p-checkbox>
    </div>
  </div>

  <div>
    <div class="ui-g-3">
      <label for="name">Name</label>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-7">
      <input
        pInputText
        id="name"
        type="text"
        [(ngModel)]="name"
        [ngModelOptions]="{standalone: true}">
    </div>
  </div>


  <div>
    <div class="ui-g-2">
    </div>
  <div class="ui-g-9">
    <button pButton style="height: 50px;width: 200px; font-size: 30px"
            [disabled]="!(selectedFiles && agreedTherms&&(sfw||nsfw||nsfl)&&name)"
            (click)="upload()">Create Post</button>
  </div>
    <div class="ui-g-2">
    </div>
  </div>
</div>
<div class="ui-g-2"></div>
<div class="ui-g-3"></div>
