<div class="ui-g-5"></div>
<div class="ui-g-2" style="text-align: right; margin-top: 10%;">
  <div class="card">
  <div style="text-align:center; border: 1px black;">
    <h2>Login</h2>
    <div class="ui-grid-row ui-fluid">
      <input pInputText placeholder="username" [(ngModel)]="username"><br>
    </div>

    <div class="ui-grid-row  ui-fluid">
      <input pInputText type="password" placeholder="password" [(ngModel)]="password"><br>
    </div>
    <div class="ui-row ui-fluid  ui-fluid">
      <button class="ui-fluid" pButton type="button" (click)="login()" label="Login"></button>
    </div>

  </div>
  </div>
</div>
<div class="ui-g-2"></div>
<div class="ui-g-3"></div>

