form span {
  margin: 25px;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #116FBF;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

input {
  margin-bottom: 15px;
}


.card {
  background-color: #f1f3ef;
  padding: 15px 15px 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 2px solid #116FBF;

  -webkit-box-shadow: 2px -1px 42px 3px rgba(17,111,191,1);
  -moz-box-shadow: 2px -1px 42px 3px rgba(17,111,191,1);
  box-shadow: 2px -1px 42px 3px rgba(17,111,191,1);

}
