<div class="ui-g-5"></div>
<div class="ui-g-2" style="text-align: right; margin-top: 10%;">
  <div style="text-align:center;" class="card">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="ui-grid-row ui-fluid">
      <input pInputText placeholder="username" name="username" ngModel [(ngModel)]="user.username"><br>
      </div>

      <div class="ui-grid-row ui-fluid">
      <input pInputText type="password" required ngModel name=password placeholder="password" [(ngModel)]="user.password"><br>
      </div>

      <div class="ui-grid-row ui-fluid">
      <input pInputText type="password" required ngModel [(ngModel)]="passwordRepeat" name="repeat" placeholder="repeat password"><br>
      </div>

      <div class="ui-grid-row ui-fluid">
      <input pInputText type="email" required ngModel name=email placeholder="Email" [(ngModel)]="user.email"><br>
      </div>

      <div class="ui-grid-row ui-fluid">
      <input type="text" pInputText required ngModel [(ngModel)]="user.code" name="code" placeholder="Code">
      </div>

        <div class="ui-grid-row ui-fluid">
         <button pButton required type="submit" label="Register" [disabled]="!isFormValid()"></button>
        </div>
    </form>
  </div>
</div>
<div class="ui-g-2"></div>
<div class="ui-g-3"></div>
