<div class="toolbar" style="text-align: center">
  <p-toolbar>
    <div class="ui-g-2" style="text-align: left;">
      <a routerLink="/posts">c0mmun</a>
    </div>
    <div style="margin-top: 0.35%;" class="ui-g-1 checkbox">
      <p-radioButton name="group1" value="sfw" label="sfw" (onClick)="onCategoryChanged('sfw')" [(ngModel)]="sfw"
                     inputId="sfw"></p-radioButton>
    </div>
    <div style="margin-top: 0.35%;" class="ui-g-1 checkbox">
      <p-radioButton name="group1" value="nsfw" label="nsfw" (onClick)="onCategoryChanged('nsfw')" [(ngModel)]="nsfw"
                     inputId="nsfw"></p-radioButton>
    </div>
    <div style="margin-top: 0.35%;" class="ui-g-1 checkbox">
      <p-radioButton name="group1" value="nsfl" label="nsfl" (onClick)="onCategoryChanged('nsfl')" [(ngModel)]="nsfl"
                     inputId="nsfl"></p-radioButton>
    </div>
    <div class="ui-g-2">
      <input type="text" pInputText placeholder="Search" style="margin-top: 0px; alignment: center;">
    </div>
    <div class="ui-g-1">
      <button style="alignment: center;" routerLink="/createPost" pButton label="Upload"></button>
    </div>
    <div class="ui-g-2">
      <a style="float: right;" routerLink="/user/{{user.id}}">{{user.username}}</a>
    </div>
    <div class="ui-g-2">
      <p-button style="float: right;" (click)="logout()" label="Logout"></p-button>
    </div>
  </p-toolbar>
</div>
