p-toolbar .ui-toolbar-group-left * {
  margin-right: 3.5px;
}

p-toolbar .ui-toolbar-group-right * {
  margin-right: 3.5px;
}

:host ::ng-deep .ui-toolbar {
  border-radius: 0;
  max-height: 65px !important;
}

p {
  margin: 0px;
  padding: 0px;
}

:host ::ng-deep .ui-inputswitch-slider{
  margin: 0px;
  padding: 0px;
}

#toggleRecommendation {
  color: white;
}


.checkbox {
  color: white;
}

body .ui-toolbar button {
  vertical-align: top;
}

input {
  vertical-align: top;
}

a {
  color: white;
  font-size: 24px;
}

a:hover {
  color: #116FBF;
}
