<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <div class="ui-g-4">
        <app-user-post-list></app-user-post-list>
    </div>
    <div class="ui-g-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="ui-g-1"></div>
</div>

