.user_comment {
  background: lightgrey;
  float: left;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width:90%;
  /* basic */
  text-align: left;
  /* border-radius */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;

}

