<div class="ui-g-offset-11" >
  <button pButton (click)="report()" icon="pi pi-ban"></button>
</div>
<div class="ui-grid-row">
  <div class="ui-g-12">
    <img [src]="'data:image/jpeg;base64,'+ post.file.file" style="max-width: 100%;"/>
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-g-4">
    <h3>Upvotes: </h3>
    {{ post.rating }}
    <button style="margin-right: 5px" type="button" (click)="like()" pButton label="+"></button>
    <button type="button" (click)="dislike()" pButton label="-"></button>
  </div>
  <div class="ui-g-4">
    <h3>Uploader: </h3>
    <a routerLink="/user/{{post.user.id}}">{{post.user.username}}</a>
  </div>
  <div class="ui-g-4">
    <h3>Tags: </h3>
    <div class="ui-grid-row">
      <p style="float: left; margin-right: 5px;" *ngFor="let tag of post.tags; trackBy: trackTag">{{tag.text}}
      <p>
    </div>
    <div class="ui-grid-row">
      <div [hidden]="!display" style="float: left;margin-right: 5px;">
        <input type="text" style="margin-right: 10px;" [(ngModel)]="tagName"/>
        <button type="button" (click)="AddTag()" pButton label="+"></button>
      </div>
      <button style="float: left" type="button" (click)="showDialog()" pButton label="{{addstring}}"></button>
    </div>
  </div>


  <div style="margin-top: 20px;" class="ui-grid-row ui-g-12">
    <h3>Comments: </h3>
    <div class="ui-grid-row">
      <div [hidden]="!displayComment" style="float: left;margin-right: 5px;">
        <input type="text" style="margin-right: 10px;" [(ngModel)]="commentText"/>
        <button type="button" (click)="AddComment()" pButton label="+"></button>
      </div>
      <button style="float: left" type="button" (click)="showDialogComment()" pButton
              label="{{addstringComment}}"></button>
    </div>
    <!--
   <div class="ui-grid-row">
      <p *ngFor="let comment of post.comments; trackBy: trackComment">{{comment.text}}
      <p>
    </div>
    -->

    <!-- comments container -->
    <div class="comment_block">


      <!-- new comment -->
      <div style="margin-top: 20px;" *ngFor="let comment of post.comments; trackBy: trackComment">

        <!-- comments toolbar -->
        <div class="comment_toolbar">

          <!-- inc. date and time -->
          <div style="float: left;margin-right: 10px;margin-top: 37px;">
           {{comment.user.username}}:
          </div>
        </div>

        <!-- build comment -->
        <ul class="user_comment">

          <!-- current #{user} avatar -->
          <div class="comment_body">
            <p>{{comment.text}}</p>
          </div>

        </ul>
      </div>
    </div>




  </div>
</div>

