<div class="ui-g">
  <div class="ui-g-offset-5 ui-g-2 card" style="margin-top: 10%;">
    <div class="ui-grid-row">
      <h2>c0mmun Invites</h2>
    </div>
    <div class="ui-grid-row ui-fluid">
      <input pInputText type="email" placeholder="Email" [(ngModel)]="mailclient.mail">
    </div>

    <div class="ui-grid-row  ui-fluid">
      <textarea pInputTextarea placeholder="Nachricht an eingeladene Person..."
                [(ngModel)]="mailclient.message"></textarea>
    </div>
    <div class="ui-grid-row  ui-fluid">
      <button pButton label="Einladen" (click)="send()"></button>
    </div>

  </div>
</div>
