<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active">
  <span class="ui-float-label">
   <!-- <img
      [src]="post.imagePath"
      style="max-height: 128px; max-width: 128px;">
      -->
    <div class="postItem">
      <img [src]="'data:image/jpeg;base64,'+post.file.file" style="height: 128px; width: 128px;"/>
    </div>
  </span>
</a>
