h1 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #116FBF;
  font-size: 50px;
}

h2 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  color: #116FBF;
  font-size: 35px;
}


h3 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 22px;
}

