<div class="ui-g">
  <div class="ui-g-offset-2 ui-g-8">
    <div class="ui-g-row">
        <h1>{{user.username}}</h1>
        <h2>Karma: {{user.rating}}</h2>
      <hr>
    </div>

    <h3>Uploads: </h3>
    <app-post-item *ngFor="let postEl of posts;"
                   [post]="postEl">>
    </app-post-item>
  </div>
</div>
